.banner-first {
  font-family: "UTM_BryantLG";
  height: 625px;
  background-image: url("../../assets/images/hapo_learn_banner1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  &-content {
    margin-left: 5%;

    &-heading {
      margin-top: 10px;
      height: 58px;
      font-size: 47px;
      line-height: 58px;
      letter-spacing: -0.05em;
      color: $color_banner1_heading;
    }

    &-bold {
      height: 58px;
      font-weight: bold;
      font-size: 47px;
      line-height: 58px;
      letter-spacing: -0.05em;
      color: $color_banner1_heading;
    }

    &-bold img {
      height: 48px;
      width: 55px;
    }

    &-desc-up {
      margin-top: 10px;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: $color_banner1_desc;
    }

    &-desc-bot {
      margin-bottom: 26px;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: $color_banner1_desc;
    }

    .btn {
      width: 377px;
      height: 70px;
      background: $color_hover;
      box-shadow: inset 0px 4px 4px $cl-boxshadow-black;
      border-radius: 35px;
      text-decoration: none;
      font-weight: bold;
      color: $cl-while;
      font-size: 30px;
    }

    .btn:hover {
      color: $color_banner1_heading;
    }
  }
}

.linear-gradient {
  height: 50px;
  overflow: visible;

  .transition-block {
    height: 165px;
    background: linear-gradient(180deg, $cl-linear-gradient-f 87.5%, $cl-linear-gradient-e 100%)
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .banner-first {
    width: 100%;
    height: 420px;

    &-content {
      margin-left: 50px;

      &-heading {
        margin-top: -40px;
        height: 37px;
        font-size: 30px;
        line-height: 37px;
      }

      &-bold {
        height: 37px;
        font-size: 30px;
        line-height: 37px;
      }

      &-bold img {
        height: 23px;
        width: 25px;
      }

      &-desc-up {
        margin-top: 12px;
        font-size: 16px;
        line-height: 20px;
      }

      &-desc-bot {
        margin-bottom: 29px;
        font-size: 16px;
        line-height: 20px;
      }

      .btn {
        width: 200px;
        height: 37px;
        font-size: 16px;
      }
    }
  }

  .linear-gradient {
    height: 42px;

    .transition-block {
      height: 122px;
    }
  }
}

@media all and (max-width: 767px){
  .banner-first {
    height: 215px;
    width: 100%;
    display: block;

    &-content {
      padding-top: 380px;
      margin: 0 auto;

      &-heading {
        height: 31px;
        font-size: 25px;
        line-height: 31px;
      }

      &-bold {
        height: 31px;
        font-size: 25px;
        line-height: 31px;
      }

      &-bold img {
        height: 23px;
        width: 25px;
      }

      &-desc-up {
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
      }

      &-desc-bot {
        margin-bottom: 21px;
        font-size: 16px;
        line-height: 20px;
      }

      .btn {
        width: 250px;
        height: 45px;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .linear-gradient {
    height: 5px;

    .transition-block {
      height: 310px;
    }
  }
}

.courses {
  font-family: "UTM_BryantLG";

  .card {
    background-color: $cl-while;
    box-shadow: 0px 0px 10px $cl-boxshadow-black;
    border-radius: 15px;

    .html-css-js {
      background: $bg-html-css-js;
    }

    .laravel {
      background: $bg-laravel;
    }

    .php {
      background: $bg-php;
    }

    .css {
      background: $bg-css;
    }

    .rails {
      background: $bg-rails;
    }

    .java1 {
      background: $bg-java1;
    }
  }

  .card-img-top {
    width: 100%;
    height: 215px;
    box-shadow: 0px 0px 10px $cl-boxshadow-black;
    border-radius: 15px 15px 0px 0px;

    img {
      height: 70%;
    }
  }

  .card-body {
    text-align: center;

    .card-title {
      color: $color_card-title;
      font-size: 30px;
      font-weight: bold;
      height: 37px;
      overflow: hidden;
      letter-spacing: -0.05em;
      margin-bottom: 10px;
    }

    .card-text {
      height: 80px;
      overflow: hidden;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.05em;
      color: $color_banner1_desc;
      margin-bottom: 15px;
    }

    .btn {
      width: 200px;
      font-weight: bold;
      font-size: 18px;
      color: $cl-while;
      background: $color_hover;
      box-shadow: inset 0px 1.5px 2px $cl-box-shadow;
      border-radius: 22px;
      border: 0.3px solid $cl-while;
    }

    .btn:hover {
      color: $color_banner1_heading;
    }
  }

  .other_courses {
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: -0.02em;
    color: $color_other_courses;
    border-bottom: 6px solid $color_hover;
    margin-bottom: 66px;
    margin-top: 110px;
  }

  .view-all {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.02em;
    text-decoration: none;
    margin-top: 60px;
    color: $color-view-all;

    .arrow-right {
      margin-left: 10px;
      margin-top: 10px;
    }
  }

  .view-all:hover {
    color: $color_banner1_heading;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .courses {
    .card-img-top {
      height: 121px;
    }

    .card-body {
      .card-title {
        font-size: 18px;
        line-height: 25px;
      }

      .card-text{
        font-size: 14px;
        line-height: 18px;
      }

      .btn {
        width: 115px;
        font-size: 10px;
        line-height: 12px;
      }
    }

    .other_courses {
      margin-top: 58px;
      font-size: 50px;
      line-height: 61px;
      margin-bottom: 40px;
      border-bottom: 4px solid $color_hover;
    }

    .view-all {
      font-size: 28px;
      line-height: 34px;
      margin-top: 35px;

      .arrow-right {
        margin-top: 8px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .courses {
    padding: 0px 60px;
    margin-top: 217px;

    .card-img-top {
      height: 163px;
    }

    .card-body {
      .card-title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 14px;
      }

      .card-text{
        font-size: 14px;
        line-height: 20px;
      }

      .btn {
        margin-top: 20px;
        margin-bottom: 23px;
        width: 200px;
        font-size: 18px;
        padding: 7px 0;
      }
    }

    .other_courses {
      margin-top: 50px;
      font-size: 40px;
      line-height: 49px;
      border-bottom: 3px solid $color_hover;
      margin-bottom: 40px;
    }

    .view-all {
      font-size: 22px;
      line-height: 27px;
      margin-top: 15px;

      .arrow-right {
        margin-left: 5px;
        margin-top: 7px;
      }
    }

    .card {
      margin-bottom: 30px;
    }
  }
}

.why-hapolearn {
  font-family: "UTM_BryantLG";
  margin-top: 116px;
  height: 740px;
  background-image: url("../../assets/images/bg-black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &-text {
    margin-top: 300px;
    margin-left: 20px;
    color: $cl-while;
    text-align: center;

    .why-hapolearn-title {
      font-weight: bold;
      font-size: 70px;
      line-height: 86px;
      text-align: center;
      letter-spacing: -0.02em;
      margin-left: 30px;
      margin-bottom: 5px;
    }

    .text-content {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.05em;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  .fa-check-circle {
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 7px;
    align-items: center;
  }

  .multi-device-img {
    width: 780px;
    margin-left: -50px;
    margin-top: 55px;

    img {
      width: 100%;
    }
  }

  .mb-img {
    position: absolute;
    width: 425px;
    top: -230px;
    left: -5px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .why-hapolearn {
    margin-top: 80px;
    height: 395px;

    &-text {
      .why-hapolearn-title {
        width: 700px;
        font-size: 50px;
        line-height: 61px;
        margin-left: 100px;
        margin-top: -320px;
        margin-bottom: 65px;
      }

      .text-content {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 7px;
        margin-left: -25px;
        margin-top: 10px;
      }
    }

    .fa-check-circle {
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 5px;
    }

    .multi-device-img {
      width: 378px;

      img {
        width: 100%;
        margin-top: 35px;
      }
    }

    .mb-img {
      width: 250px;
      top: -150px;

      img {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 767px){
  .why-hapolearn {
    margin-top: 90px;
    height: 570px;

    &-text {
      .why-hapolearn-title {
        text-align: left;
        width: 228px;
        font-size: 40px;
        line-height: 40px;
        margin-left: 130px;
        margin-top: -250px;
        margin-bottom: 20px;
      }

      .text-content {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 6px;
        margin-top: 10px;
      }
    }

    .fa-check-circle {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.02em;
      margin-right: 9px;
    }

    .multi-device-img {
      margin: 0 auto;
      width: 316px;

      img {
        width: 100%;
      }
    }

    .mb-img {
      width: 225px;
      top: -130px;

      img {
        width: 100%;
      }
    }
  }
}

.feedback {
  font-family: "UTM_BryantLG";
  margin-top: 110px;

  &-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: -0.02em;
    color: $color_other_courses;
    margin-bottom: 44px;

    &-text {
      border-bottom: 6px solid $color_hover;
    }
  }

  .carousel-item {
    padding: 15px;
  }

  &-intro {
    width: 705px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $color_banner1_desc;
  }

  .slide {
    margin-top: 40px;
  }

  &-border {
    z-index: 1;
    border: 0.5px solid $cl-border;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px $cl-boxshadow-black;

    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      bottom: 110px;
      left: 45px;
      border: 0.5px solid $cl-border;
      background-color: $cl-while;
      transform: rotate(45deg);
      border-top: transparent;
      border-left: transparent;
    }

    &-text {
      text-align: start;
      height: 105px;
      overflow: hidden;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.05em;
      color: $cl-black;
      margin: 20px;
      padding: 20px;
      padding-right: 0px;
      border-left: 5px solid $cl-border-l;
    }
  }

  &-info {
    margin-top: 23px;
    margin-left: 20px;

    &-img {
      width: 65px;
      height: 65px;
    }

    &-title {
      margin-top: -20px;
      font-size: 20px;
      line-height: 25px;
      font-weight: bold;
      color: $color_banner1_heading;
    }

    &-subtitle {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: $color_banner1_desc;
    }

    &-icon {
      font-size: 14px;
      line-height: 16px;
      color: $cl-feedback-icon;
    }
  }

  .slide-arrow {
    position: absolute;
    top: 70px;
    color: $cl-slick;
  }

  .prev-arrow {
    z-index: 2;
    left: 0px;
    width: 30px;
    height: 30px;
    background: $cl-while;
    border: 0.5px solid $cl-slick;
    box-sizing: border-box;
    border-radius: 50%;
  }

  .next-arrow {
    z-index: 2;
    right: 0px;
    width: 30px;
    height: 30px;
    background: $cl-while;
    border: 0.5px solid $cl-slick;
    box-sizing: border-box;
    border-radius: 50%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .feedback {
    margin-top: 57px;

    &-title {
      font-size: 50px;
      line-height: 61px;

      &-text {
        border-bottom: 4px solid $color_hover;
      }
    }

    .slide-arrow {
      top: 60px;
    }

    &-intro {
      width: 516px;
      font-size: 18px;
      line-height: 22px;
      margin-top: 28px;
      margin-bottom: 15px;
    }
  }
}

@media all and (max-width: 767px){
  .feedback {
    margin-top: 50px;

    &-title {
      font-size: 40px;
      line-height: 49px;
      margin-bottom: 26px;

      &-text {
        border-bottom: 3px solid $color_hover;
      }
    }

    &-intro {
      width: 325px;
      font-size: 16px;
      line-height: 20px;
    }

    .slide {
      margin-top: 8px;
    }

    .slide-arrow {
      top: 82px;
    }

    .fa-chevron-circle-left {
      font-size: 25px;
      left: -10px;
    }

    .fa-chevron-circle-right {
      font-size: 25px;
      right: -10px;
    }

    &-border:after {
      width: 17px;
      height: 17px;
      bottom: 101px;
      left: 38px;
    }

    &-info {
      &-img {
        width: 50px;
        height: 50px;
      }

      &-title {
        margin-top: -22px;
        font-size: 16px;
        line-height: 20px
      }

      &-subtitle {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.banner-end {
  font-family: "UTM_BryantLG";
  margin-top: 90px;
  height: 500px;
  background-image: url("../../assets/images/banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-text {
    width: 705px;
    font-weight: bold;
    font-size: 60px;
    line-height: 74px;
    margin-bottom: 30px;
    letter-spacing: -0.02em;
    color: $cl-while;
  }

  .btn {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.05em;
    color: $color-view-all;
    background: $cl-while;
    box-shadow: 0px 4px 4px 0px $cl-boxshadow-black inset;
    border-radius: 35px;
    border: 0.3px solid $cl-while;
    padding: 15px 65px;
  }

  .btn:hover {
    color: $color_banner1_heading;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .banner-end {
    margin-top: 60px;
    height: 267px;

    &-text {
      width: 402px;
      font-size: 35px;
      line-height: 43px;
      margin-bottom: 25px;
    }

    .btn {
      font-size: 20px;
      line-height: 25px;
      padding: 10px 40px;
    }
  }
}

@media all and (max-width: 767px){
  .banner-end {
    margin-top: 0;
    height: 182px;

    &-text {
      width: 291px;
      font-size: 23px;
      line-height: 28px;
      margin-bottom: 18px;
    }

    .btn {
      font-size: 18px;
      line-height: 22px;
      padding: 7px 30px;
    }
  }
}

.statistic {
  font-family: "UTM_BryantLG";
  margin-top: 110px;
  margin-bottom: 120px;

  &-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: -0.02em;
    color: $color_other_courses;
    margin-bottom: 55px;

    &-underline {
      border-radius: 3px;
      border-bottom: 6px solid $color_hover;
    }
  }

  &-content {
    &-title {
      font-weight: bold;
      font-size: 60px;
      line-height: 74px;
      letter-spacing: -0.05em;
      color: $color_banner1_desc;
      margin-bottom: 26px;
    }

    &-number {
      font-weight: bold;
      font-size: 60px;
      line-height: 74px;
      letter-spacing: -0.05em;
      color: $color_hover;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .statistic {
    margin-top: 60px;
    margin-bottom: 60px;

    &-title {
      font-size: 50px;
      line-height: 61px;
      margin-bottom: 39px;

      &-underline {
        border-bottom: 4px solid $color_hover;
      }
    }

    &-content {
      &-title {
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 20px;
      }

      &-number {
        font-size: 40px;
        line-height: 49px;
      }
    }
  }
}

@media all and (max-width: 767px){
  .statistic {
    margin-top: 50px;
    margin-bottom: 50px;

    &-title {
      font-size: 40px;
      line-height: 49px;
      margin-bottom: 37px;

      &-underline {
        border-bottom: 3px solid $color_hover;
      }
    }

    &-content {
      &-title {
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 12px;
      }

      &-number {
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 35px;
      }
    }
  }
}
