.reset-password {
  font-family: "UTM BryantLG";
  padding: 72px 8% 110px 8%;
  background: $bg-profile;

  .content {
    background: $cl-while;
    padding: 40px 357px 56px 357px;

    .title {
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: -0.02em;
      color: $color_hover;
    }

    .desc {
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: $text_navbar_color;
      margin-top: 15px;
    }

    .email-label,
    .new-password-label,
    .repeat-new-password-label {
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: $text_navbar_color;
      margin-top: 30px;
    }

    .repeat-new-password-label {
      margin-top: 10px;
    }

    .email-input {
      height: 50px;
    }

    .btn-reset-password,
    .btn-reset-new-password {
      background: $color_hover;
      box-shadow: inset 0px 1.5px 2px $cl-box-shadow;
      border-radius: 22px;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $cl-while;
      padding: 11px 32px 9px 32px;
      margin-top: 30px;
    }
  }
}
