#all-courses {
  font-family: "UTM BryantLG";
  background: $cl-bg-lr-fc;
  padding-top: 40px;
  padding-bottom: 110px;

  .search {
    font-family: "Open Sans Regular";

    .btn-filter {
      width: 100px;
      background: $cl-while;
      border: 1px solid $cl-feedback-slide;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: $text_navbar_color;
      margin-right: 15px;
    }

    .input-search {
      width: 355px;
    }

    .input-search::placeholder {
      color: $cl-inp-plac;
    }

    .fa-search {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: -0.02em;
      color: $text_navbar_color;
      margin-left: -57px;
    }

    .btn-search {
      background: $color_hover;
      border: 1px solid $color_hover;
      border-radius: 5px;
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      color: $cl-while;
      margin-left: 10px;
      padding: 8px 15px;
    }
  }

  .collapse-filter {
    background: $cl-while;
    border: 1px solid $cl-feedback-slide;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 13px 88px 0px 19px;
    margin-top: 20px;

    .title {
      width: 70px;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: $text_navbar_color;
      align-items: center;
      margin-top: 6px;
      margin-right: 10px;
    }

    .form-check-label {
      background: $bg-newest;
      border-radius: 2px;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      padding: 4px 15px 5px 15px;
      color: $text_navbar_color;
      margin-left: 10px;
      margin-bottom: 15px;
    }

    .form-check-input:checked + .form-check-label {
      background: $color_hover;
      color: $cl-while;
    }

    .select2{
      margin-left: 10px;
    }

    .select2-selection {
      background: $cl-while;
      border: 1px solid $bg-newest;
      box-sizing: border-box;
      border-radius: 2px 2px 0px 0px;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: $text_navbar_color;
      width: 180px;
    }

    .number-learners,
    .study-time,
    .number-lessons {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: $text_navbar_color;
      width: 180px;
      height: 28px;
      background: $cl-while;
      border: 1px solid $bg-newest;
      box-sizing: border-box;
      border-radius: 2px 2px 0px 0px;
      margin-left: 10px;
      margin-bottom: 15px;
    }
  }

  .courses {
    margin-top: 40px;
  }

  .card-all-courses {
    background-color: $cl-while;
    box-shadow: 0px 0px 10px $cl-boxshadow-black;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 0;
  }

  .card-img {
    width: 90px;
    height: 90px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .card-all-courses-body {
    padding: 0;

    .card-all-courses-title {
      font-weight: bold;
      font-size: 25px;
      line-height: 31px;
      letter-spacing: -0.05em;
      color: $text_navbar_color;
      margin-bottom: 10px;
      margin-left: 30px;
    }

    .card-all-courses-text {
      height: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: $text_navbar_color;
      margin-left: 32px;
    }

    .card-all-courses-on {
      padding: 20px 52px 11px 20px;
    }

    .btn {
      font-weight: bold;
      font-size: 18px;
      color: $cl-while;
      background: $color_hover;
      padding: 9px 31px 11px 36px;
      box-shadow: inset 0px 1.5px 2px $cl-box-shadow;
      border-radius: 22px;
      border: 0.3px solid $cl-while;
    }

    .btn:hover {
      color: $color_banner1_heading;
    }

    .more {
      margin-right: 34px;
      margin-bottom: 27px;
    }

  }

  .horizontal-line {
    margin-bottom: 7px;
  }

  .courses-info {
    margin-top: 7px;
    margin-bottom: 19px;

    .courses-info-title {
      font-weight: bold;
      font-size: 25px;
      line-height: 31px;
      letter-spacing: -0.05em;
      color: $text_navbar_color;
    }

    .courses-info-number {
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: -0.05em;
      color: $color_hover;
    }
  }

  .pagination {
    margin-top: -10px;
    display: flex;
    justify-content: right;

    .page-link {
      width: 40px;
      height: 40px;
      border: 1px solid $color_hover;
      font-weight: bold;
      text-align: center;
      box-sizing: border-box;
      border-radius: 3px;
      margin-left: 5px;
      color: $color_hover;
    }

    .page-link:hover {
      color: white;
      background: $color_hover;
    }

    .active {
      .page-link {
        color: white;
        background: $color_hover;
      }
    }
  }
}
