.banner-first {
  font-family: "UTM_BryantLG";
  height: 625px;
  background-image: url("../assets/images/hapo_learn_banner1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  &-content {
    margin-left: 59px;

    &-heading {
      margin-top: 10px;
      height: 58px;
      font-size: 47px;
      line-height: 58px;
      letter-spacing: -0.05em;
      color: $color_banner1_heading;
    }

    &-bold {
      height: 58px;
      font-weight: bold;
      font-size: 47px;
      line-height: 58px;
      letter-spacing: -0.05em;
      color: $color_banner1_heading;
    }

    &-bold img {
      height: 48px;
      width: 55px;
    }

    &-desc-up {
      margin-top: 10px;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: $color_banner1_desc;
    }

    &-desc-bot {
      margin-bottom: 26px;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: $color_banner1_desc;
    }

    .btn {
      width: 377px;
      height: 70px;
      background: $color_hover;
      box-shadow: inset 0px 4px 4px $cl-boxshadow-black;
      border-radius: 35px;
      text-decoration: none;
      font-weight: bold;
      color: $cl-while;
      font-size: 30px;
    }

    .btn:hover {
      color: $color_banner1_heading;
    }
  }
}

.linear-gradient {
  height: 50px;
  overflow: visible;

  .transition-block {
    height: 165px;
    background: linear-gradient(180deg, $cl-linear-gradient-f 87.5%, $cl-linear-gradient-e 100%)
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .banner-first {
    width: 100%;
    height: 420px;

    &-content {
      margin-left: 50px;

      &-heading {
        margin-top: -40px;
        height: 37px;
        font-size: 30px;
        line-height: 37px;
      }

      &-bold {
        height: 37px;
        font-size: 30px;
        line-height: 37px;
      }

      &-bold img {
        height: 23px;
        width: 25px;
      }

      &-desc-up {
        margin-top: 12px;
        font-size: 16px;
        line-height: 20px;
      }

      &-desc-bot {
        margin-bottom: 29px;
        font-size: 16px;
        line-height: 20px;
      }

      .btn {
        width: 200px;
        height: 37px;
        font-size: 16px;
      }
    }
  }

  .linear-gradient {
    height: 42px;

    .transition-block {
      height: 122px;
    }
  }
}

@media all and (max-width: 767px){
  .banner-first {
    height: 215px;
    width: 100%;
    display: block;

    &-content {
      padding-top: 380px;
      margin: 0 auto;

      &-heading {
        height: 31px;
        font-size: 25px;
        line-height: 31px;
      }

      &-bold {
        height: 31px;
        font-size: 25px;
        line-height: 31px;
      }

      &-bold img {
        height: 23px;
        width: 25px;
      }

      &-desc-up {
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
      }

      &-desc-bot {
        margin-bottom: 21px;
        font-size: 16px;
        line-height: 20px;
      }

      .btn {
        width: 250px;
        height: 45px;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .linear-gradient {
    height: 5px;

    .transition-block {
      height: 310px;
    }
  }
}
