.banner-end {
  font-family: "UTM_BryantLG";
  margin-top: 90px;
  height: 500px;
  background-image: url("../assets/images/banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-text {
    width: 705px;
    font-weight: bold;
    font-size: 60px;
    line-height: 74px;
    margin-bottom: 30px;
    letter-spacing: -0.02em;
    color: $cl-while;
  }

  .btn {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.05em;
    color: $color-view-all;
    background: $cl-while;
    box-shadow: 0px 4px 4px 0px $cl-boxshadow-black inset;
    border-radius: 35px;
    border: 0.3px solid $cl-while;
    padding: 15px 65px;
  }

  .btn:hover {
    color: $color_banner1_heading;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .banner-end {
    margin-top: 60px;
    height: 267px;

    &-text {
      width: 402px;
      font-size: 35px;
      line-height: 43px;
      margin-bottom: 25px;
    }

    .btn {
      font-size: 20px;
      line-height: 25px;
      padding: 10px 40px;
    }
  }
}

@media all and (max-width: 767px){
  .banner-end {
    margin-top: 0;
    height: 182px;

    &-text {
      width: 291px;
      font-size: 23px;
      line-height: 28px;
      margin-bottom: 18px;
    }

    .btn {
      font-size: 18px;
      line-height: 22px;
      padding: 7px 30px;
    }
  }
}
