.header-menu {
  height: 150px;
  font-family: $open_sans;

  .navbar-brand {
    width: 340px;
    margin-left: 5.5%;

    img {
      width: 100%;
    }
  }

  .menu {
    margin-right: 8.5%;
  }

  .navbar-toggler {
    border: none;
    margin-left: -21px;

    .fas {
      font-size: 20px;
    }
  }

  .nav-item {
    text-transform: uppercase;
    padding: 0 12px 0 15px;
    margin-right: 5px;

    .nav-link {
      font-size: 14px;
      color: $text_navbar_color;
      font-weight: bold;
    }
  }

  .nav-item-active{
    background: $color_hover;
    border-radius: 17px;

    .nav-link {
      color: $cl-while;
    }
  }

  .nav-item:hover {
    background: $color_hover;
    border-radius: 17px;

    .nav-link {
      color: $cl-while;
    }
  }

  .nav-item-hidden {
    display: none;
  }

  .btn-dropdown:focus {
    box-shadow: none;
    outline: none;
  }

  .dropdown-item {
    text-transform: capitalize;
    color: $text_navbar_color;
    font-size: 13px;
  }

  .message-sesson {
    font-size: 13px;
    z-index: 1;
    width: 400px;
    position: fixed;
    top: 100px;
    right: 8.5%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .header-menu {
    height: 191px;
    display: block;
    padding: 0;

    .navbar-brand {
      display: block;
      width: 300px;
      margin: 0 auto;

      img {
        margin-top: 30px;
        width: 100%;
      }
    }

    .nav-item {
      .nav-link {
        white-space: nowrap;
      }
    }

    .menu {
      margin-right: 0;
      margin-top: 27px;

      .navbar-nav {
        margin: 0 auto;
      }
    }

    .nav-item-hidden {
      display: block;
    }
  }
}

@media all and (max-width: 767px){
  .header-menu {
    height: auto;

    .navbar-toggler .navbar-toggler-icon {
      width: 20px;
      height: 20px;
    }

    .navbar-brand {
      width: 150px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .nav-item {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 46px;
    }

    .profile {
      margin-bottom: 170px;
    }

    .nav-home {
      margin-top: 42px;
    }

    .nav-item.active,
    .nav-item:hover {
      background: none;
      border-radius: 0;

      .nav-link {
        color: $color_hover;
      }
    }

    .nav-item-hidden {
      display: block;
    }
  }
}
