.login-register {
  font-family: "UTM_BryantLG";
  color: $text_navbar_color;

  .fix-width {
    width: 430px;
    margin: auto;
  }

  .modal-title {
    border: 1px solid $color_card-title;

    .tab-close {
      width: 42px;
      height: 42px;
      position: absolute;
      background: $color_card-title;
      border: 0;
      top: -13px;
      right: -13px;
    }

    .fa-times {
      font-size: 28px;
      color: $cl-while;
    }
  }

  .nav-item {
    background: $cl-while;
  }

  .nav-item .active{
    border: 1px solid $color_card-title;
    background: $color_card-title;
    color: $cl-while;
  }

  .nav-link {
    height: 70px;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: $color_card-title;
  }

  .tab-content {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    .form-label {
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
      margin-bottom: 6px;
    }

    .custom-control-input {
      margin-top: 2px;
      width: 18px;
      height: 18px;
    }

    .custom-control-label {
      margin-left: 7px;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.02em;
    }

    .form-control {
      height: 60px;
      margin-bottom: 30px;
      background-color: $cl-bg-lr-fc;
    }

    .login-pass {
      margin-bottom: 10px;
    }

    .forgot-pwd {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.02em;
      color: $color_card-title;
    }

    .forgot-pwd:hover {
      color: $color_banner1_heading;
    }

    .btn-register {
      margin-top: 30px;
      margin-bottom: 45px;
    }
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $color_card-title;
    border: none;
  }

  .login-with {
    margin-top: 15px;

    .text {
      margin: 0 4px;
    }

    .horizontal-line {
      width: 110px;
    }

    .text {
      padding: 4px;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
    }
  }

  .btn-cover {
    width: 200px;
    height: 42px;
    margin: 0 auto;
    background: $color_card-title;
    box-shadow: inset 0px 1.5px 2px $cl-box-shadow;
    border-radius: 22px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $cl-while;
  }

  .btn-login {
    margin-top: 45px;
  }

  .btn-register {
    margin-top: 30px;
  }

  .login-account {
    .btn {
      width: 100%;
      height: 55px;
      color: $cl-while;
      font-size: 20px;
    }

    .fab {
      font-size: 27px;
      margin-right: 10px;
    }

    &-google {
      margin-top: 30px;
      margin-bottom: 15px;
      background: $cl-bg-google;
    }

    &-facebook {
      margin-bottom: 45px;
      background: $cl-bg-fb;
    }
  }

  .btn:hover {
    color: $color_banner1_heading;
  }
}

@media all and (max-width: 767px){
  .login-register {
    .modal-content-cus {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;

      .login-with {
        .horizontal-line {
          width: 85px;
        }
      }
    }

    .tab-content {
      .custom-control-input {
        margin-top: 2px;
        width: 17px;
        height: 17px;
      }

      .custom-control-label {
        margin-left: 5px;
        font-size: 17px;
        line-height: 21px;
      }

      .forgot-pwd {
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
      }
    }
  }
}
